<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gomk.mapper.GTagClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.gomk.model.GTagClassify">
        <id column="id" property="id" />
        <result column="classify_name" property="classifyName" />
        <result column="parent_id" property="parentId" />
        <result column="classify_desc" property="classifyDesc" />
        
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classify_name, parent_id,classifyDesc
    </sql>
    
    <select id="selectTopByIds" resultType="io.gomk.framework.utils.tree.TreeDto">
    	select tgtc.id as id, tgtc.classify_name as name, 0 as parentId
			from t_g_tag_classify tgtc
    	where id in 
			<foreach collection="collection" open="(" separator="," close=")" item="val">
			    ${val}
			</foreach>
    </select>
    
     <select id="selectClassifyByParentId" resultType="io.gomk.framework.utils.tree.TreeDto">
    	select tgtc.id as id, tgtc.classify_name as name, tgtc.parent_id as parentId
			from t_g_tag_classify tgtc
    	where tgtc.parent_id in 
			<foreach collection="collection" open="(" separator="," close=")" item="val">
			    #{val}
			</foreach>
    </select>

</mapper>
