<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gomk.mapper.GTagMapper">

       <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.gomk.model.GTag">
        <id column="id" property="id" />
        <result column="classify_id" property="classifyId" />
        <result column="tag_name" property="tagName" />
        <result column="tag_desc" property="tagDesc" />
        <result column="task_finished" property="taskFinished" />
        <result column="tag_rule" property="tagRule" />
        
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, classify_id, tag_name, tag_desc, task_finished, tag_rule
    </sql>
    
    <select id="selectTagByNames" resultMap="BaseResultMap">
    	select * from t_g_tag 
    	where tag_name in 
			<foreach collection="collection" open="(" separator="," close=")" item="val">
			    #{val}
			</foreach>
    </select>
    

</mapper>
